@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h2>Municipal Services</h2>
    <ul>
        <li><a asp-controller="WaterSupply" asp-action="Index">Water Supply Management</a></li>
        <li><a asp-controller="Park" asp-action="Index">Park Management</a></li>
        <li><a asp-controller="Facility" asp-action="Index">Facility Management</a></li>
    </ul>
</div>